/* General Styles */

/* store the variables */
:root {
    --main-bg-color: #192841
  }
  
  html {
      font-family: 'Helvetica neue', Arial, 'sans serif';
      font-size: 10px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  /* body {
      width: 90em;
      margin: 0 auto;
  } */
  
  /* HEADER */
  .boundary {
    background-color: var(--main-bg-color);
    /*border: 5px solid black;*/
    margin-top: 25px;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  #name {
    font-size: 42px;
  }
  
  .title {
    font-size: 20px;
    font-weight: 300;
  }
  
  /* MAIN */
  .jumbotron {
    background-color: red;
  }
  
  p {
    font-size: 1.5rem;
  }
  
  .strip {
    width: 50px;
    height: 5px;
    margin-top: -10px;
    margin-bottom: 20px;
    background-color: #e4c4ec;
  }
  
  .border-title {
      position: absolute;
      margin: 10px 0 0 10px;
      width: 90%;
      left: 2.5%;
      height: 150px;
      border: 6px solid black;
      z-index: 10;
  }
  
  .column {
    display: flex;
    flex-wrap: wrap;
  }
  
  .height-700 {
    height: 700px;
  }
  
  .height-100vh {
    height: 100vh;
  }
  
  .left {
    flex: 30%;
  }
  
  .right {
    flex: 60%;
  }
  
  .content {
    padding-left: 10px;
  }
  
  .content h2 {
    font-size: 20px;
  }
  
  h1 {
      font-size: 30px;
  }
  
  h3 {
      font-size: 15px;
  }
  
  pli {
      font-size: 1.7em;
  }
  
  footer {
      background-color: teal;
      height: 40px;
      padding: 2em;
  }
  
  li {
      font-size: 12px;
  }
  
  .text {
    color:white;
    font-size:13px;
  }
  
  .text-medium {
    font-size:13px;
  }
  
  .circle {
    border-radius: 50%;
  }
  /*h1, footer p {
      margin: -70px;
  }*/
  
  .col-md-4 {
    background-color:#ffccff;
  }
  
  .col-8 {
    background-color:#ffccff;
  }
  
  h1 {
      text-align: center;
      /*padding: 0.5em 0;*/
  }
  
  /* padding: [top] [right] [bottom] [left]
     atau bisa juga kalo mau satu2
     padding-top:
     padding-right:
     padding-bottom:
     padding-left:
   */
  
  /* main {
    padding: 2em 0 0 0;
  } */
  
  main p, main li {
      line-height: 1.8;
  }
  
  img {
      width: 40em;
      float: middle;
  }
  
  table {
      border-collapse: collapse;
      border: 1px solid black;
    } 
    
    th,td {
      border: 1px solid black;
    }
    
    table{
      table-layout: auto;
      width: 70%;  
    }
    
    td.a {
      border: 1px solid white;
      box-align: "left";
    }
    
    .progress {
      margin-top: 1rem;
      background-color: black;
    }
  
   @media (max-width: 768px) {
    .col-12 {
      background-color: #ffccff;
    }
  
    .center {
      display: flex;
      justify-content: center;
      text-align: center;
    }
  
    #name {
      font-size: 36px;
    }
    
    /* .title-border-right {
      display: flex;
      /* flex-direction: column; */
      /* justify-content: center;
      text-align: center;
    } */
  
    /* #name {
      font-size: 36px;
    } */
  /* 
    .#name {
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 36px;
    }
  
    #job {
      display: flex;
      justify-content: center;
      text-align: center; *
    } */
  }