header {
  display: flex;
  font-family: helvetica;
  /*background-color: f6fad7;*/
  background-color: #ffff9c;
}
body {
  font-family: helvetica;
  background-color: #ffff9c;
}
h1 {
  margin: 15px 0px 0px 5px;
  font-family: Pacifico;
  color: pink;
}
h2 {
  font-family: helvetica;
  color: pink;        
}
p {
  font-family: helvetica;
  color: pink;        
}
img {
  margin: 20px 5px 0px 0px;
}

#nav-bar {
  margin: 25px 0 25px 450px;
  font-family: helvetica;
  color: pink;
  position: fixed;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#option {
  display: inline;
  margin-right: 20px;
}

* {
  box-sizing: border-box;
}
iframe {
  display: flex;
  margin: auto;
  background-color: #ffff9c;
  padding: 10px;
}

@media (max-width: 1000px) {
  body {
    background-color: lightgreen;
  }
}

#form {
  display: grid;;
  margin: 3%
    ;
  grid-template-rows: repeat(3, 30%);
  grid-row-gap: 10px;
  text-align: center;
  justify-items: center;
}

input[type='email'] {
  height: 30px;
}

input[type='submit'] {
  max-width: 50px;
  height: 30px;
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 50%);
  align-items: start;
}

.item1 {
  display: grid;
  width: 100%;
  grid-template-columns: 22% 78%;
}

#model {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
}

#model .icon {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  color: pink;
}

#model .desc {
  display: flex;
  flex-direction: column;
  /*justify-content: flex-start;*/
  height: 125px;
  width: 80%;
  text-align: center;
  /*padding: 5px;*/
}

#pricing {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100%/3);
  margin: 10px;
  border: 1px solid black;
  border-radius: 3px;
}

.product > .productTitle {
  background-color: lightgreen;
  width: 100%;
  margin: 0;
  padding: 0;
} 

#select {
  margin: 10px 0px;
}

#about {
  display: flex;
  flex-direction: column;;
  margin: auto;
  width: 80vw;
}