*, *::before, *::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

#main {
/*   width: 100vw;
  height: 100vh; */
  text-align: center;
  display: flex;
  flex-direction: column;
}

.opening {
  display: flex;
  justify-content: flex-end;
  min-height: 100vh;
  align-items: center;
}

.name-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 90%;
}

#title {
  font-family: Trebuchet MS;
}

#image {
  max-width: 70%;
  display: block;
}

#tribute-info {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 0 10%;
}
