*, *::before, *::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(to right, purple, white);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.jam-dinding {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: relative;
  background-color: rgba(255, 255, 255, .8);
  border: 2px solid black;
}

.jam-dinding .angka {
  --rotation: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  font-size: 2rem;
  /* rotate and change value cannot be combined */
  transform: rotate(var(--rotation));
}

.jam-dinding .angka1 {--rotation: 30deg;}
.jam-dinding .angka2 {--rotation: 60deg}
.jam-dinding .angka3 {--rotation: 90deg}
.jam-dinding .angka4 {--rotation: 120deg}
.jam-dinding .angka5 {--rotation: 150deg}
.jam-dinding .angka6 {--rotation: 180deg}
.jam-dinding .angka7 {--rotation: 210deg}
.jam-dinding .angka8 {--rotation: 240deg}
.jam-dinding .angka9 {--rotation: 270deg}
.jam-dinding .angka10 {--rotation: 300deg}
.jam-dinding .angka11 {--rotation: 330deg}

.upward {display: block;}
.upward1 {transform: rotate(-30deg); }
.upward2 {transform: rotate(-60deg); }
.upward3 {transform: rotate(-90deg); }
.upward4 {transform: rotate(-120deg); }
.upward5 {transform: rotate(-150deg); }
.upward6 {transform: rotate(-180deg); }
.upward7 {transform: rotate(-210deg); }
.upward8 {transform: rotate(-240deg); }
.upward9 {transform: rotate(-270deg); }
.upward10 {transform: rotate(-300deg); }
.upward11 {transform: rotate(-330deg); }


.jam-dinding .jarum {
  --rotation: 0;
  bottom: 50%;
  left: 50%;
  border: 1px solid white;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg)); 
  transform-origin: bottom;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* width 20px;
  height: 20px;
  background-color: black; */

  /* why it needs to take 2 property so the text can be aligned perfectly */
  position: absolute;
  z-index: 10;
}

.detik {
  background-color: red;
  width: 5px;
  height: 45%;
}

.menit {
  background-color: black;
  width: 20px;
  height: 40%;
}

.jam {
  background-color: black;
  width: 32px;
  height: 35%;
}

.jam-dinding::after {
  content: '';
  bottom: 50%;
  left: 50%;
  top: 50%;
  background-color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  z-index: 11;
  position: absolute;
}